
body{
    background-color: lightblue;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
ul {
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
footer {
    text-align: center;
    margin-right: 200px;
}
#meme2-properties {
    margin-right: 200px;
}
header {
    text-align: center;
}